<div>
  
    <mat-toolbar color="primary">Grocery list manager</mat-toolbar>
    <div class="row">
         <div class="col-xs-6 col-md-4">
          
            <div class="input-group">
                <input type="text" class="form-control width100"  placeholder="enter grocery items" id="txtSearch" [(ngModel)]="task.name">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" (click) = "onClick()">Add item</button>
                </span>
            </div>
             
           
        </div>
    </div>
   
    <ul class="list-group">
        <li *ngFor="let task of tasks" class="list-group-item"  style="width: 20%;">
            <span (click) = "onStrike(task)" [ngClass] ="{'strike': task.strike}"> {{ task.name }} </span> 
            <mat-icon (click) = "onEdit(task)">edit</mat-icon>
            <mat-icon (click)= "onDelete(task)">delete</mat-icon>
         
        </li>
    </ul>
 
</div>